.popup {
    position: absolute;
    border: 3px solid green;
    background-color: white;
    z-index: 1;
    width: 400px;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popUpRelationshipDrawing {
    position: absolute;
    border: 3px solid green;
    background-color: white;
    z-index: 1;
}

.graph-paper {
    /*border: 3px solid palevioletred;*/
    z-index: 0;
    position: absolute;
}

.joint-highlight-stroke {
    stroke: purple !important;
}

.guide-button {
    right: 0px;
    top: 0px;
    z-index: 2;
    position: absolute;
}